.register-container {
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  -webkit-transition: 0.5s;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.register-container.show {
  top: initial;
  height: 100%;
  -webkit-transition: height 1.5s ease-in-out;
}

.formulario-signup {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-signup h1 {
  color: #262626;
  padding: 0px 0px 20px 0px;
  font-size: 24px;
}

.formulario-signup input {
  background: #ffffff;
  border-color: white;
  border-style: inherit;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 20px;
}
.formulario-signup label {
  font-size: 13px;
  font-weight: 600;
}
.nombre-apellido {
  display: flex;
  padding: 0px 0px 10px;
}

.nombre-apellido input {
  width: 218px;
  height: 40px;
}

.nombre-apellido div {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.otros-datos div {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px;
}
.otros-datos i{
  margin-left: -30px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(153, 153, 153, 0.253);
}
.otros-datos i:hover{
  color: rgba(0, 0, 0, 0.555);
}

.otros-datos input {
  width: 448px;
  height: 40px;
}
#boton-signup {
  width: 206px;
  height: 40px;
  background: linear-gradient(90deg, rgba(203,178,106,1) 10%, rgba(255,245,218,1) 50%, rgba(190,158,68,1) 110%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border-color: #1dbeb4;
  border-style: inherit;
  color: #262626;
  cursor: pointer;
  transition: 0.3s;
}
#boton-signup:hover {
  background: linear-gradient(90deg, rgb(158, 139, 82) 10%, rgba(255,245,218,1) 50%, rgb(148, 122, 53) 110%);
  color: #262626;
}
.formulario-signup p {
  font-size: 13px;
  padding: 10px 0px 0px 0px;
}
.text-danger {
  color: red;
  font-size: 12px;
}
.redireccionReg{
  color: #1dbeb4;
  cursor: pointer;
}
@media (max-width: 578px){
  .otros-datos input{
    width: 300px;
    height: 40px;
  }
  #boton-signup{
    width: 300px;
    height: 40px;
  }
  .nombre-apellido{
    display: flex;
    flex-direction: column;
  }
  .nombre-apellido input{ 
  width: 300px;
  height: 40px;
  }
  .nombre-apellido div{
    padding: 0px 0px 10px;
  }
  .formulario-signup h1 {
    padding: 10px 0px 0px 0px
  }
}
