.box {
  height: 0px;
  width: 100%;
  background-color:#f3f3f3;
  -webkit-transition: 0.5s;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.box.show {
  top: initial;
  height: 100%;
  -webkit-transition: height 1.5s ease-in-out;
}


