@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-thumbnails{
    width: 200%;
}
.image_Container{
    width: 50%;
    height: 50%;
}

.image_gallery_container{
    width: 100%;
    height: 100%;
}
.icon_social{
    margin-left: 5px;
}
.icon_social i{
    margin-left: 10px;
}
.container-gallery_image{
    display: none;
}
.gallery{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    max-width: 100%;
}
.gallery-image img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.gallery-image:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.gallery-image:nth-child(1) img{
    width: 100%;
    height: 100%;
}

.gallery-image:nth-child(2){
    grid-column: 3;
    grid-row: 1;
}
.gallery-image:nth-child(3){
    grid-column: 4;
    grid-row: 1;
}
.gallery-image:nth-child(4){
    grid-column: 3;
    grid-row: 2;
}
.gallery-image:nth-child(5){
    grid-column: 4;
    grid-row: 2;
}
.gallery-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: wheat;
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.497);
    padding: 10px 20px;
    border-radius: 10%;
}

.image_Container{
    position: relative;
    
}

.close_gallerry_image-button{
    color: rgb(239, 167, 34);
    cursor: pointer;
    z-index: 88886;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}
.close_gallerry_image-button svg{
    font-size: 40px;
}
.image-gallery-content .image-gallery-slide .image-gallery-image{
    
}

@media (max-width: 768px){
    .modal_container{
        display: none;
    }
    .container-gallery_image{
        display: block;
    }
    .gallery{
        display: none;
    }
    .image_gallery_container .icon_social{
        display: none;
    }
    .container-gallery_image .icon_social{
        display: block;
    }
}
@media (max-width: 576px){
    .container-gallery_image{
        position: relative;
    }
    .container-gallery_image .icon_social{
       position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        color: rgb(239, 167, 34);
    }
}