.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  bottom: 0;
  color: #CBB26A;
  background-color: #262626;
  z-index: 100;
}

.footer-copyright {
  margin-left: 4%;
}

.footer-icons {
  margin-right: 4%;
  color: #CBB26A;
}

.footer-icons i {
  padding: 15px;
  font-size: 25px;
}

@media (max-width: 576px) {
  .footer-icons {
    display: none;
  }
}
