
.descripcion{
    width: 97%;
    border-radius: 5px;
    font-weight: 600;
}

.form-group{
    border-radius: 5px;
    margin: 28px;
}
.formulario{
    width: 90%;
    margin: 20px 0px;
    border-radius: 10px;
}