.reserva-container{
    margin-top: 86px;
    width: 100%;

}

.contenedor_columnas{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.columna_izquierda{
    width: 65%;
}

.columna_derecha{
    width: 30%;
}