* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #262626;
  z-index: 100;
}
.logo {
  display: flex;
  width: 60%;
  padding: 5px 0px;
}
.logo img {
  width: 200px;
}
.logo h1 {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  color: black;
}
nav {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}
.menu-hamburguesa {
  display: none;
  width: 200px;
}
.hamburguesa {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
}
.boton-nav {
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  min-width: 140px;
  max-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin-left: 10px;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: linear-gradient(
    90deg,
    rgba(203, 178, 106, 1) 10%,
    rgba(255, 245, 218, 1) 50%,
    rgba(190, 158, 68, 1) 110%
  );
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
  user-select: none;
}
.boton-nav:hover {
  color: #262626;
}
.boton-nav:hover:after {
  width: 100%;
}

.boton-nav:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.438);
}

@media (max-width: 578px) {
  header {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.548);
  }
  nav {
    justify-content: space-around;
  }
  .menu-hamburguesa {
    display: block;
  }
  .hamburguesa {
    display: block;
    background: linear-gradient(
      90deg,
      rgba(203, 178, 106, 1) 10%,
      rgba(255, 245, 218, 1) 50%,
      rgba(190, 158, 68, 1) 110%
    );
  }
  .boton-nav {
    display: none;
  }
  .container-buscador-main {
    height: auto;
  }
  .container-buscador-inputs {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    padding-bottom: 26px;
  }
}
