.descripcion{
    margin-top: 5%;
    margin-left: 40px;
}
.titleDescription{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 1%;
    font-family: Roboto;

}
.descriptionP{
    font-size: 1.2em;
    font-family: Roboto;
    max-width: 80%;
    
}