.descripcion-text{
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}
.descripcion{
    margin-top: 5%;
    padding-left: 40px;
}
.titleDescription{
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.descriptionP{
    font-size: 1.2em;
    font-family: Roboto;
    max-width: 100%;
    text-align: center;
    
}