.calendarAvailableDay{
    margin-top: 86px;
    margin-bottom: 100px;
    background-color: #e8e7e7;
    padding: 30px 5px;
}
.calendarAvailableDay h2{
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.calendarAvailableDay_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
}

.calendarAvailableDay_boxReservation{
    background-color: white;
    padding: 40px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.244);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.calendarAvailableDay_boxReservation p{
    font-size: 20px;
    font-weight: bold;
}
.calendarAvailableDay_boxReservation button{
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(203,178,106,1) 10%, rgba(255,245,218,1) 50%, rgba(190,158,68,1) 110%);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px){
    .calendarAvailableDay_container{
        flex-direction: column;
        align-items: center;
    }
    .calendarAvailableDay_boxReservation{
        background-color: transparent;
        border-radius: none;
        box-shadow: none;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    .calendarAvailableDay_boxReservation button{
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
    }
}
