
.politicas{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px
}
.politicas-title{
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Roboto;
    color: #262626;
}

.subsection-title{
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: Roboto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px #262626;
}
.politicas-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    align-items: flex-start
    
}
.politicasSection{
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 20px #838383;
    color: black;
    margin-top: 50px;
    font-weight: 500;
    width: 370px;
    min-height: 320px;
    margin-bottom: 50px;
}
.lista{
    padding: 10px 0px 10px 0px;
    font-size: 1rem;
}
@media (max-width: 966px){
    .politicas-container{
        justify-content: center;
    }
    .politicasSection{
        margin-right: 20px;
        margin-left: 20px;
        width: 320px;
}
@media (max-width: 576px){
    .politicas-container{
        justify-content: center;
    }
    .politicasSection {
        margin-right: 0;
        margin-left: 0;
    }
    .politicas {
        margin-left: 0;
    }
}}