.container {
  width: 100%;
  margin-top: 86px;
  margin-bottom: 100px;
}
.categories-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1em;
}
.cards-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1em;
  background-color: rgba(223, 223, 223, 0.65);
}
.section-h2 {
  font-weight: 700;
  font-size: 24px;
  padding: 15px 0 15px 30px;
  color: #262626;
  text-align: left;
}
/* ::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements. */

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(84, 87, 118, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(203, 178, 106, 0.73) 10%,
    rgba(255, 245, 218, 0.73) 50%,
    rgba(190, 158, 68, 0.73) 110%
  );
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    rgba(203, 178, 106, 1) 10%,
    rgba(255, 245, 218, 1) 50%,
    rgba(190, 158, 68, 1) 110%
  );
  border-radius: 3px;
}


