* {
  box-sizing: border-box;
}
.calendar-container.absolute {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 115%;
  user-select: none;
  width: 120%;
  min-width: 600px;
  max-width: 750px;
  z-index: 1;
}
.calendar-container.none {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 90%;
  max-width: 750px;
  z-index: 1;
}
.calendar-container.product {
  pointer-events: none;
}
.calendar-container.product .react-calendar__navigation {
  pointer-events: all;
}
.calendar-container.product .react-calendar__tile{
  background: rgba(190, 158, 68, 1)
}
.calendar-container.product .react-calendar__tile:disabled {
  color: #adadad;
  background: none;
}

.calendar-button-aplicar {
  cursor: pointer;
  width: 40%;
  min-height: 40px;
  background: linear-gradient(
    90deg,
    rgba(203, 178, 106, 1) 10%,
    rgba(255, 245, 218, 1) 50%,
    rgba(190, 158, 68, 1) 110%
  );
  color: #262626;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
  position: absolute;
  top: 87%;
  left: 55%;
}
.calendar-button-aplicar:hover {
  background: linear-gradient(
    90deg,
    rgb(158, 139, 82) 10%,
    rgba(255, 245, 218, 1) 50%,
    rgb(148, 122, 53) 110%
  );
}

.react-calendar {
  width: 100%;
  background: white;
  font-family: "Roboto";
  line-height: 1.125em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
}

.react-calendar--doubleView {
  padding: 10px;
  min-width: 80%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin-bottom: 50px;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  margin-top: 10px;
  height: 44px;
}
.react-calendar__navigation__label {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.react-calendar__navigation__label__divider {
  display: none;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #262626;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  border-radius: 50%;
}
.react-calendar__navigation button:disabled {
  background-color: #ffffff;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view div {
  padding: 0.5em;
}

.react-calendar__month-view:first-of-type {
  border-right: 1px solid #a8a8a8;
}

.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5em;
  justify-items: center;
  text-transform: uppercase;
  font-size: 16px;
}
.react-calendar__month-view__weekdays__weekday {
  color: #262626;
}
abbr[title] {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  gap: 0.3em;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.react-calendar__tile:disabled {
  color: #adadad;
  background: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border: 2px solid rgb(250, 218, 36);
}
.react-calendar__tile--now {
  color: rgb(250, 218, 38);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(203, 178, 106, 1);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: rgba(203, 178, 106, 1);
  color: #262626;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgba(203, 178, 106, 0.75);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  border: 2px solid #cacaca;
}

@media (min-width: 778px) and (max-width: 1058px) {
  .calendar-container {
    right: 0;
  }
  /* .calendar-button-aplicar {
    width: 30%;
  } */
}

@media (max-width: 778px) {
  .calendar-container {
    right: -60%;
  }
}

@media (max-width: 576px) {
  .calendar-container.absolute {
    right: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .react-calendar__month-view:first-of-type {
    border-right: none;
  }
  .react-calendar__month-view {
    height: 315px;
  }
  .calendar-button-aplicar {
    left: 10%;
    min-width: 80%;
  }
}
